@page "/"

<PageTitle>Inicio | Prueba Técnica </PageTitle>

<div class="container mt-5">
	<div class="p-5 mb-4 bg-light shadow-sm border-start border-primary border-5">
		<div class="container-fluid py-3">
		<h1 class="display-5 fw-bold text-dark"> Prueba Técnica: Desarrollador .NET</h1>
		<p class="col-md-10 fs-4 text-muted">
			Solución desarrollada para el proceso de seleccion de <strong> Ziur Software </strong>
		</p>

		<hr class="my-4">

			<div class="d-flex align-content-center">
				<span class="badge bg-primary me-2 p-2">Blazor Web App</span>
				<span class="badge bg-secondary me-2 p-2">.Net 9</span>
				<span class="badge bg-primary me-2 p-2">API REST</span>
			</div>
	    </div>
    </div>
	
	<div class="row align-items-md-stretch">
		<div class="col-md-6 mb-4">
			<div class="h-100 p-4 border rounded-3 bg-white shadow-sm">
				<h2 class="text-primary"> <i class="bi bi-person-badge"></i> Postulante </h2>
				<p class="mt-3">
					<strong>Nombre: </strong> Esteban López <br />
					<strong>Perfil: </strong> Desarrollador de Software <br />
					<strong>Fecha de entrega: </strong> 01 de Febrero, 2026
				</p>

				<a href="https://www.linkedin.com/in/esteban-lópez-465a00291" target="_blank" class="btn btn-outline-dark btn-sm">
					Ver perfil de Linkedin
				</a>
			</div>
		</div>

		<div class="h-100 p-4 border rounded-3 bg-white shadow-sm">
			<h2 class="text-primary"><i class="bi bi-gear-fill"></i> Arquitectura del Proyecto</h2>
			<p class="mt-3">
				La solución se ha estructurado siguiendo estándares de la industria para las aplicaciones empresariales,
				enfocándose en:
			</p>
			<ul class="text-muted small">
				<li><strong>Desacoplamiento: </strong> Separación estricta de responsabilidades mediante el uso de servicios especializados.</li>
				<li><strong>Mantenibilidad: </strong> Implementación de Inyección de Dependencias para facilitar la escalabilidad y el testeo.</li>
				<li><strong>Mantenibilidad: </strong> Gestión optimizada de recursos a través de programación asincrona y manejo reactivo de estados.</li>
			</ul>
		</div>

		<div class="text-center mt-4 mb-5">
			<p class="lead">Para visualizar la información solicitada en la tabla o grilla</p>
			<a href="documentos" class="btn btn-primary btn-lg px-5 shadow">
				Ver listado de Documentos <i class="bi bi-arrow-right-short"></i>
			</a> 
		</div>
	</div>
</div>
